body {
  background: gray;
  height: 100%;
}
.wrapper {
  margin: auto;
  margin-top: 50%;
  width: 95%;
  height: 350px;
  background: white;
  border-radius: 20px;
  box-shadow: 5px;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin: auto;
}
[data-testid="slackDisplayImage"] {
  height: 55px;
  width: 55px;
  margin-top: 15px;
  margin-left: 15px;
  border-radius: 10px;
}
[data-testid="slackUserName"] {
  text-decoration: solid;
  width: 50%;
  margin-left: 20px;
  height: 55px;
  text-align: start;
  font-weight: 400;
  font-family: "Times New Roman", Times, serif;
  font-size: x-large;
}
[data-testid="myTrack"] {
  margin-top: -20px;
  text-align: center;
  font-weight: 300;
  font-family: "Times New Roman", Times, serif;
  font-size: x-large;
}
[data-testid="githubURL"] {
  display: flex;
  justify-content: center;
}
#github {
  height: 55px;
  width: 55px;
  align-self: center;
  border-radius: 10px;
}
footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  text-align: start;
  font-weight: 400;
  font-family: "Times New Roman", Times, serif;
  font-size: x-large;
  text-decoration: solid;
  margin: auto;
  text-align: center;
}

@media screen and (min-width: 480px) {
  .wrapper {
    margin-top: 20%;
    width: 60%;
  }
  header {
    margin-left: 20px;
  }
}
@media screen and (min-width: 821px) {
  .wrapper {
    margin-top: 15%;
    width: 50%;
  }
}
@media screen and (min-width: 821px) {
  .wrapper {
    margin-top: 15%;
    width: 50%;
  }
  header {
    margin-left: 80px;
  }
}
